.recommendation-modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    pointer-events: none;
    z-index: 2;

    &.show {
        opacity: 1;
        pointer-events: visible;
    }

    &__content {
        width: 500px;
        background-color: #FFFFFF;
        padding: 30px;
        border-radius: 50px;
        box-shadow: 0px 20px 600px black;
    }

    &__body {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
    }

    &__image {
        width: 150px;
        height: 150px;
        margin-right: 20px;
    }

    &__review {
        margin: 20px;
        text-align: left;
    }
}

